.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.carouselContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.carousel {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 60vh;
  perspective: 1000px;
  
}

.location {
  transform-origin: center center -1500px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 1s ease-in-out;

}

.hiddenLoc {
  display: none;
}

.fa-climber::before {
  content: url("../public/svgs/ClimberIcon.svg");
}

.dark .fa-climber::before {
  content: url("../public/svgs/ClimberIconDark.svg");
}

.departing-left {
  animation-duration: 1s;
  animation-name: departing-left;
  animation-fill-mode: forwards;
}

@keyframes departing-left {
  from {
    transform: rotateY(0deg);
    opacity: 1;
  }

  to {
    transform: rotateY(70deg);
    opacity: 0;
  }
}

.departing-right {
  animation-duration: 1s;
  animation-name: departing-right;
  animation-fill-mode: forwards;
}

@keyframes departing-right {
  from {
    transform: rotateY(0deg);
    opacity: 1;
  }

  to {
    transform: rotateY(-70deg);
    opacity: 0;
  }
}

.departing-up {
  animation-duration: 1s;
  animation-name: departing-up;
  animation-fill-mode: forwards;
}

@keyframes departing-up {
  from {
    transform: rotateX(0deg);
    opacity: 1;
  }

  to {
    transform: rotateX(-70deg);
    opacity: 0;
  }
}

.departing-down {
  animation-duration: 1s;
  animation-name: departing-down;
  animation-fill-mode: forwards;
}

@keyframes departing-down {
  from {
    transform: rotateX(0deg);
    opacity: 1;
  }

  to {
    transform: rotateX(70deg);
    opacity: 0;
  }
}

.ariving-left {
  animation-duration: 1s;
  animation-name: ariving-left;
}

@keyframes ariving-left {
  from {
    transform: rotateY(-70deg);
    opacity: 0;
  }

  to {
    transform: rotateY(0deg);
    opacity: 1
  }
}

.ariving-right {
  animation-duration: 1s;
  animation-name: ariving-right;
}

@keyframes ariving-right {
  from {
    transform: rotateY(70deg);
    opacity: 0;
  }

  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.ariving-up {
  animation-duration: 1s;
  animation-name: ariving-up;
}

@keyframes ariving-up {
  from {
    transform: rotateX(70deg);
    opacity: 0;
  }

  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.ariving-down {
  animation-duration: 1s;
  animation-name: ariving-down;
}

@keyframes ariving-down {
  from {
    transform: rotateX(-70deg);
    opacity: 0;
  }

  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}